.filter-cnt {
    display: flex;
    width: 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    background-color: #000;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;

    
    /* background-color: red; */
}

.select-order--group {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    outline: none;
    height: 3em;
    width: 10em;
    font-size: 1em;
    color: rgb(255, 255, 255);
    font-weight: 600;
    cursor: pointer;
    transition: .6s;
    border-radius: 5px;
    padding: 0 1em;
    margin-right: 1em;

} 

.select-order--group option {
    background-color: #39284d;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
    padding: 0 1em;

}

.select-order {
    /* background-color: orange; */
    width: 20%;
    height: 5em;
    padding: .5em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */

}

.select-filter-create {
    /* background-color: bisque; */
    width: 20%;
    height: 5em;
    padding: .5em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
}

.select-filter-genres {
    /* background-color: blueviolet; */
    width: 20%;
    height: 5em;
    padding: .5em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-cnt_create {
    /* background-color: brown; */
    width: 30%;
    height: 3em;
    padding: .5em 0;
}

.navbar-cnt_clear {
    /* background-color: yellow; */
    width: 30%;
    height: 3em;
    padding: .5em 0;
}

.navbar-cnt--button {
    /* background-color: green; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(246, 152, 198);
    font-family: Georgia, 'Times New Roman', Times, serif;
   /*  border: none;
    width: 12em;
    height: 4.5em;
    border-radius: 20px;
    font-size: .9em;
    font-weight: bold;
    background-color: #ff3491;
    cursor: pointer; */
}

.navbar-cnt_clear .navbar-cnt--button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(246, 152, 198);
    font-family: Georgia, 'Times New Roman', Times, serif;
}