.gameDetail-cnt {
    background-image: url(https://i.pinimg.com/564x/f0/93/12/f09312cb310e2c31aa2f399a841aba96.jpg);
    width: 100%;
    min-height: 100vh;
    height: 100%;
    padding-top: 5vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    /* display: flex; */
}



.detail-cnt--general {
    /* background-color: beige; */
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.detail-cnt-name {
    /* background-color: rgba(255, 255, 255, 0.061); */
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;

}

.detail-cnt-name h1 {
    font-size: 2.4em;
    background-color: rgba(255, 255, 255, 0.061);
    color: white;
    padding: 0.5em;
    border-radius: 0.5em;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}



.detail-cnt-info img {
    width: 60%;
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.748);
    border-radius: 20px;
    margin-bottom: 2vh;

    /* height: 20em; */
}



.detail-cnt-info--desc {
    background-color: rgba(255, 255, 255, 0.274);
    width: 60%;
    margin: 0 auto;
    padding: 1em;
    color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.748);
    margin-bottom: 2vh;
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.5em;
    text-shadow: 0px ;
    /* height: 20em; */
}

.detail-cnt-info--desc span {
    font-weight: lighter;
    font-size: 1.1em;

}


.detail-back-link{
    text-decoration: none;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    margin-right: 10%;
    margin-top: 60px;
    color: white;
    font-size: 1.5em;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.274);
    padding: 0.5em;
    border-radius: 0.5em;
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.748);

}

.detail-cnt-back div {
    border: none;
    width: 4em;
    height:2em;
    border-radius: 20px;
    font-weight: bold;
    background-color: #ff348ff2;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.456);
    cursor: pointer;
    font-size: 2em;
    padding: .2em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;

}